/*----------------------------------E S T I L O S  G E N E R A L E S------------------------------- */
/* ------------------------------------------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #6b6b6b;
  /* color: #595959; */
  background: linear-gradient(
    180deg,
    rgba(240, 241, 208, 1) 2%,
    rgba(255, 255, 248, 1) 7%
  );
}

h1 {
  font-size: 2.7rem;
  line-height: 1.5;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali", cursive;
  font-size: 2.4rem;
  color: #34b196;
  margin-bottom: 2rem;
}

h2:before {
  content: "";
  border-top: 2px solid;
  margin: 0 0.5rem 0 0;
  flex: 0 1 4rem;
  color: #34b196;
}

h3 {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #595959;
  padding-bottom: 3rem;
  line-height: 1.5;
}

h4 strong {
  font-family: "Mali", cursive;
  font-weight: 900;
  color: #34b196;
}

section {
  margin-bottom: 8rem;
}

p {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.btn {
  display: block;
  color: rgba(255, 255, 248, 1);
  background-color: #34b196;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  border-radius: 3%;
  text-align: center;
  width: 50%;
  border: none;
}
/* ------------------------------------------------------------------------------------------------- */
/* ------------------------M O B I L E  F I R S T :  E S T I L O  C E L U L A R--------------------- */
/* ------------------------------------------------------------------------------------------------- */

.contenedor {
  padding: 0 2rem;
  margin: 0 auto;
}

/*------ M E N U------*/

header {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
}

.nav-margin {
  margin: 2rem;
}

#hamburguesa li {
  list-style: none;
  text-indent: -100px;
  overflow: hidden;
}

#hamburguesa li a {
  background: url("./Imagenes/menu-celular.png") no-repeat center center;
  background-size: cover;
  display: block;
  height: 2.9rem;
  width: 2.5rem;
  margin: auto;
}

#hamburguesa li:last-child a {
  background: url("./Imagenes/menu-cerrar-celular.png") no-repeat center center;
}

#hamburguesa li:last-child {
  display: none;
}

#lista-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 0;
  position: absolute;
  top: 6.5em;
  left: 0;
  background: rgba(150, 109, 12, 0.599);
  transition: height 0.5s ease;
  overflow: hidden;
}

#lista-btn li {
  list-style: none;
  width: 75%;
  display: inline-block;
}

#lista-btn li a {
  text-decoration: none;
  display: block;
  background: #34b196;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.6rem;
  border-radius: 5%;
}

nav:target #lista-btn {
  height: calc(100vh - 6.5em);
}

nav:target #hamburguesa li:first-child {
  display: none;
}

nav:target #hamburguesa li:last-child {
  display: block;
}

/*--------------------------- S E C C I O N  -   P O R T A D A------------------------------ */
/*-------------------------------------------------------------------------------------------*/

.seccion-portada {
  display: flex;
  align-items: flex-start;
  background: url(./Imagenes/regadera-celular.png) center no-repeat;
  background: cover;
  height: calc(100vh - 10rem);
  max-height: 300rem;
  max-width: 500rem;
  background-position: 60% 0%;
  margin-top: 1.5rem;
}

.contenedor-portada {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 1rem;
}

.portada-titulo {
  font-family: "Mali", cursive;
  color: #34b196;
  font-weight: 600;
  width: 95%;
  margin-bottom: 1rem;
}

.portada-texto {
  font-weight: 300;
  width: 60%;
  color: black;
}

.portada-seguir {
  margin: 0 auto;
}

.btn-seguir {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.btn-seguir-chevron-down {
  width: 2rem;
  height: 2rem;
}

/*----------------------- S E C C I O N  -  A R T Í C U L O  H U E R T A--------------------- */
/*-------------------------------------------------------------------------------------------*/

.seccion-huerta {
  margin-bottom: -1rem;
}

.huerta-titulo {
  text-align: center;
  margin-bottom: 1rem;
}

.huerta-titulo p:first-of-type {
  padding: 0;
}

.huerta-gota-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./Imagenes/huerta-link-celular.png) center no-repeat;
  height: 5rem;
  width: 4rem;
  opacity: 40%;
  position: absolute;
  color: #595959;
  font-size: 1.4rem;
  font-weight: 600;
}

.huerta-gota-link a:link,
.huerta-gota-link a:visited {
  text-decoration: none;
}

#huerta-1 {
  left: 10%;
}

#huerta-2 {
  left: calc(50% - 20px);
}

#huerta-3 {
  right: 10%;
}

.huerta-articulo {
  margin-top: 8rem;
  display: none;
}

/* --- T A R G E T  A R T Í C U L O S  H U E R T A --- */

.huerta-gota-link:target {
  opacity: 100%;
}

#huerta-1:target ~ .huerta-articulo:nth-of-type(1) {
  display: block;
}

#huerta-2:target ~ .huerta-articulo:nth-of-type(2) {
  display: block;
}

#huerta-3:target ~ .huerta-articulo:nth-of-type(3) {
  display: block;
}

/* ------------------------------------------------------ */

.huerta-gota-icon {
  display: none;
}

.huerta-articulo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-4rem);
  z-index: -999;
  position: relative;
}

/*----------------------------- S E C C I O N  -  B A N N E R------------------------------- */
/*-------------------------------------------------------------------------------------------*/

.seccion-banner {
  overflow-x: hidden;
}

.seccion-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(8rem);
}

.banner-texto {
  background: linear-gradient(
    180deg,
    rgba(212, 180, 43, 1) 2%,
    rgba(150, 108, 12, 1) 75%
  );
  padding: 5rem;
  margin-bottom: 8rem;
  box-shadow: 0 -2.4rem 4.8rem rgba(233, 235, 177, 1);
}

.banner-texto p {
  text-align: center;
  font-family: "Mali", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
}

/*--------------------------- S E C C I O N  -  B E N E F I C I O S------------------------- */
/*-------------------------------------------------------------------------------------------*/

/*-------- A R T Í C U L O - I M P A C T O  E C O L Ó G I C O-------- */

.impacto-articulo {
  margin-bottom: 3rem;
}

.seccion-beneficios h3:after {
  content: "";
  border-bottom: 2px solid #6b6b6b;
  padding-top: 0.5rem;
  width: 5rem;
}

.impacto-items {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.impacto-info {
  background: url(./Imagenes/img-impacto-info-celular.png) center no-repeat;
  height: 25.6rem;
  width: 22.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.impacto-info p {
  display: block;
  margin: 0 auto;
  width: 60%;
  font-size: 1.45rem;
  color: #34b196;
  font-family: "Mali", cursive;
  font-weight: 500;
  text-align: center;
}

/*-------- A R T Í C U L O - A L I M E N T O S  S A L U D A B L E S -------- */

.alimentos-video {
  max-width: 100%;
  height: auto;
  margin-top: 4rem;
}

.contenedor-video iframe {
  width: 100%;
}

/*--------------------------- S E C C I O N  -  N E W S L E T T E R ------------------------ */
/*-------------------------------------------------------------------------------------------*/

.seccion-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(./Imagenes/img-newsletter-celular.png) center no-repeat;
  height: 41rem;
  box-shadow: 0 -2.4rem 4.8rem rgba(233, 235, 177, 1);
}

.contenedor-newsletter {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  background-color: rgba(102, 80, 27, 0.6);
  padding: 2.7rem 0;
}

.texto-newsletter,
.form-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.texto-newsletter h2 {
  color: white;
  margin: 0;
  width: 90%;
}

.texto-newsletter h2::before {
  content: none;
}

.texto-newsletter p {
  display: block;
  width: 90%;
  color: white;
  padding: 0;
}

.form-newsletter input {
  width: 80%;
  border: none;
  background: white;
  border-radius: 0.2rem;
  padding: 1rem;
}

.form-newsletter input::placeholder {
  color: grey;
  font-size: 1.4rem;
}

.form-newsletter input:first-of-type {
  margin-bottom: 1.5rem;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #34b196;
}

input[type="email"]:focus {
  outline: none;
  border: 2px solid #34b196;
}

input[type="email"]:focus:invalid {
  outline: none;
  border: solid rgb(230, 111, 111) 2px;
}

/*------------------------------ S E C C I O N  -  N O S O T R O S ------------------------- */
/*-------------------------------------------------------------------------------------------*/

.seccion-nosotros {
  margin-bottom: 0;
}

.seccion-nosotros h2 {
  margin-bottom: 1rem;
}

.seccion-nosotros h3:after {
  content: "";
  border-bottom: 2px solid #6b6b6b;
  padding-top: 0.5rem;
  width: 3rem;
}

/*-------- A R T Í C U L O - A C E R C A  D E -------- */

.acerca-articulo {
  background: url(./Imagenes/img-nosotros-plantas-celular.png) bottom no-repeat,
    linear-gradient(
      180deg,
      rgba(241, 242, 210, 1) 31%,
      rgba(195, 235, 246, 1) 85%
    );
  padding: 4rem 2rem;
  margin-bottom: 4rem;
}

.acerca-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acerca-texto picture {
  order: 4;
}

/*-------- A R T Í C U L O - M I S I Ó N -------- */

.mision-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#texto-visible p:nth-child(3) {
  opacity: 30%;
}

.texto-oculto {
  display: none;
}

#texto-visible:target .texto-oculto {
  display: block;
}

.acerca-ver:link,
.acerca-ver:visited {
  display: block;
  width: 4rem;
  height: 4rem;
  color: #34b196;
}

#acerca-ver-menos {
  display: none;
}

#texto-visible:target #acerca-ver-mas {
  display: none;
}

#texto-visible:target #acerca-ver-menos {
  display: block;
}

#texto-visible:target p:nth-child(3) {
  opacity: 100%;
}

.mision-texto picture {
  margin-bottom: 2rem;
}

/*------------------------------ S E C C I O N  -  F O O T E R ----------------------------- */
/*-------------------------------------------------------------------------------------------*/

.seccion-footer {
  overflow-x: hidden;
}

.seccion-footer .img-footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(5rem);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(
    180deg,
    rgba(208, 169, 10, 1) 47%,
    rgba(150, 92, 21, 1) 97%
  );
  padding: 9rem 3rem 2rem 3rem;
  box-shadow: 0 -2.4rem 4.8rem rgba(233, 235, 177, 1);
}

.footer-texto {
  display: flex;
  flex-direction: column;
}

.footer-texto h2 {
  color: white;
}

.footer-texto h2:before {
  color: white;
}

.footer-texto p {
  color: white;
}

.seccion-footer h3:after {
  content: "";
  border-bottom: 1px solid #6b6b6b;
  padding-top: 0.5rem;
  width: 100%;
}

.seccion-footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.seccion-footer input,
textarea {
  width: 90%;
  border: none;
  background: white;
  border-radius: 0.2rem;
  padding: 0.7rem;
}

.seccion-footer input::placeholder {
  color: grey;
  font-size: 1.2rem;
}

.seccion-footer textarea::placeholder {
  color: grey;
  font-size: 1.2rem;
}

.btn-enviar {
  align-self: center;
}

.footer-redes-sociales {
  margin-bottom: 8rem;
}

.footer-iconos-redes-sociales {
  display: flex;
  justify-content: space-evenly;
}

.footer-pie p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 248, 1);
  padding: 0;
  font-size: 1.2rem;
}

.footer-pie p::before {
  content: "";
  border-top: 1px solid rgba(255, 255, 248, 1);
  padding-top: 0.5rem;
  width: 26rem;
}

/*------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------- E S T I L O  M Ó V I L  G R A N D E ------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 412px) {
  .seccion-portada {
    display: flex;
    align-items: flex-start;
    background: url(./Imagenes/regadera-celular-grande.png) center no-repeat;
    background: cover;
    height: calc(100vh - 10rem);
    background-position: 65% 0%;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 3.4rem;
  }

  .portada-texto {
    font-size: 2rem;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/* -------------------------------------- E S T I L O  T A B L E T ------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
  /* GENERALES */

  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 3.6rem;
    margin-bottom: 4rem;
  }

  h2:before {
    border-top: 4px solid;
    margin: 0 1rem 0 0;
    flex: 0 1 8rem;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 2.4rem;
    font-weight: bolder;
    padding-bottom: 6rem;
  }

  section {
    margin-bottom: 16rem;
  }

  p {
    padding-bottom: 2.8rem;
    font-size: 2rem;
    line-height: 1.8;
  }

  .btn {
    font-size: 2.4rem;
    padding: 2rem 5rem;
    width: 100%;
  }

  .contenedor {
    padding: 0 8rem;
  }

  /*------------ M E N U------------ */

  nav {
    padding: 4rem 0;
  }

  #hamburguesa li a {
    background: url("./Imagenes/menu-tablet.png") no-repeat center center;
    height: 5.3rem;
    width: 5.1rem;
  }

  #hamburguesa li:last-child a {
    background: url("./Imagenes/menu-cerrar-tablet.png") no-repeat center center;
  }

  #lista-btn {
    gap: 6rem;
    top: 12.5em;
  }

  #lista-btn li a {
    font-size: 2.4rem;
  }

  nav:target #lista-btn {
    height: calc(100vh - 12.5em);
  }

  /*----------------------------- S E C C I O N  -   P O R T A D A---------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .seccion-portada {
    background: url(./Imagenes/regadera-tablet.png) center no-repeat;
    height: calc(100vh - 19rem);
    background-position: 75% 0%;
    margin-top: 3rem;
  }

  .contenedor-portada {
    gap: 1rem;
  }

  .portada-texto {
    font-size: 3rem;
  }

  /*--------------------- S E C C I O N  -  A R T Í C U L O  H U E R T A---------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .p-none {
    display: none;
  }

  .huerta-gota-link {
    display: none;
  }

  .huerta-articulo {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  #huerta-1:target ~ .huerta-articulo:nth-of-type(1) {
    display: flex;
  }

  #huerta-2:target ~ .huerta-articulo:nth-of-type(2) {
    display: flex;
  }

  #huerta-3:target ~ .huerta-articulo:nth-of-type(3) {
    display: flex;
  }

  .huerta-articulo:nth-of-type(1),
  .huerta-articulo:nth-of-type(3) {
    flex-direction: row-reverse;
  }

  .huerta-articulo img {
    transform: none;
  }

  .huerta-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  .huerta-texto-2 {
    align-items: flex-start;
    text-align: left;
  }

  .huerta-gota-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./Imagenes/huerta-link-tablet-desktop.png) center no-repeat;
    height: 8.8rem;
    width: 7.2rem;
    color: #595959;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .huerta-gota-icon span {
    font-size: 2rem;
  }

  .impacto-info p {
    font-size: 2rem;
    width: 75%;
  }

  /*----------------------------- S E C C I O N  -  B A N N E R------------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .banner-texto {
    padding: 8rem;
    margin-bottom: 16rem;
    box-shadow: 0 -4.8rem 9.6rem rgba(233, 235, 177, 1);
  }

  .banner-texto p {
    font-size: 3rem;
    font-weight: 800;
  }

  /*---------------------------- S E C C I O N  -  B E N E F I C I O S------------------------ */
  /*-------------------------------------------------------------------------------------------*/

  /*-------- A R T Í C U L O - I M P A C T O  E C O L Ó G I C O-------- */

  .impacto-items {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    margin: 4rem 0;
  }

  .impacto-info {
    background: url(./Imagenes/img-impacto-info-tablet.png) center no-repeat;
    height: 33.9rem;
    width: 30rem;
  }

  /*----------------------------- S E C C I O N  -  N E W S L E T T E R ---------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .seccion-newsletter {
    background: url(./Imagenes/img-newsletter-tablet.png) center no-repeat;
    height: 37.3rem;
    background-position: 40% 9%;
  }

  .contenedor-newsletter {
    padding: 3rem 4rem;
    grid-template-columns: 40% 60%;
    column-gap: 2.6rem;
  }

  .texto-newsletter {
    text-align: left;
  }

  .texto-newsletter h2 {
    font-size: 2.4rem;
    width: 90%;
  }

  .form-newsletter {
    align-items: flex-start;
    gap: 2.4rem;
  }

  .form-newsletter form {
    width: 90%;
  }

  .form-newsletter input {
    width: 100%;
    padding: 2rem;
  }

  .form-newsletter input::placeholder {
    font-size: 1.4rem;
  }

  .form-newsletter input:first-of-type {
    margin-bottom: 2.4rem;
  }

  .btn-newsletter {
    width: 50%;
    padding: 1.4rem 4rem;
    font-size: 1.8rem;
  }

  /*----------------------------- S E C C I O N  -  N O S O T R O S -------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  /*-------- A R T Í C U L O - A C E R C A  D E -------- */

  .acerca-articulo {
    background: url(./Imagenes/img-nosotros-plantas-tablet.png) bottom no-repeat,
      linear-gradient(
        180deg,
        rgba(241, 242, 210, 1) 31%,
        rgba(195, 235, 246, 1) 85%
      );
    padding: 8rem;
  }

  /*-------- A R T Í C U L O - M I S I Ó N --------*/

  .mision-texto {
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  /*------------------------------- S E C C I O N  -  F O O T E R ---------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .seccion-footer form {
    gap: 4rem;
  }

  .seccion-footer .img-footer img {
    transform: translateY(8rem);
  }

  .seccion-footer input,
  textarea {
    width: 80%;
    padding: 1.8rem;
  }

  .seccion-footer input::placeholder {
    font-size: 1.8rem;
  }

  .seccion-footer textarea::placeholder {
    font-size: 1.8rem;
  }

  .btn-enviar {
    margin-top: 2rem;
    width: 50%;
  }

  .footer-pie p::before {
    width: 100%;
  }
}
/*----------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ E S T I L O  D E S K T O P----------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  /*------- M E N U -------- */

  nav {
    padding: 4rem 0;
  }

  #hamburguesa {
    display: none;
  }

  #lista-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    position: static;
    height: auto;
    text-align: right;
    background: none;
  }

  #lista-btn li {
    width: 15rem;
    text-align: center;
  }

  #lista-btn li a {
    background: none;
    color: #595959;
    font-size: 1.6rem;
  }

  #lista-btn .btn-huerta:hover,
  #lista-btn .btn-beneficios:hover,
  #lista-btn .btn-nosotros:hover {
    padding: 0.5rem;
    border-bottom: 2px solid #34b196;
    color: #ad7904;
  }

  #lista-btn .btn-contacto {
    background: #34b196;
    color: rgba(255, 255, 248, 1);
  }

  #lista-btn .btn-contacto:hover {
    opacity: 80%;
  }

  .btn-seguir-chevron-down {
    width: 2rem;
    height: 2rem;
  }

  /*----------------------------- S E C C I O N  -   P O R T A D A---------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .portada-titulo {
    width: 50%;
  }

  .portada-texto {
    font-size: 2.4rem;
    width: 30%;
  }

  .portada-seguir {
    margin-left: 0;
    margin-right: auto;
  }

  .btn-seguir {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .btn-seguir:hover {
    background: #61b5a3;
  }

  .seccion-portada {
    background: url(./Imagenes/regadera-desktop.png) center no-repeat;
    height: calc(100vh - 19rem);
    background-position: 50% 2%;
    margin-top: 3rem;
  }

  .contenedor {
    padding: 0 8rem;
  }

  /*----------------------- S E C C I O N  -  A R T Í C U L O  H U E R T A--------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .contenedor-huerta {
    padding: 0 15%;
  }

  .huerta-articulo {
    gap: 5rem;
  }

  .huerta-gota-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./Imagenes/huerta-link-tablet-desktop.png) center no-repeat;
    height: 8.8rem;
    width: 7.2rem;
    color: #595959;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .huerta-texto {
    text-align: left;
    align-items: center;
  }

  /*----------------------------- S E C C I O N  -  B A N N E R------------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  .banner-texto {
    padding: 7% 30%;
    margin-bottom: 16rem;
    box-shadow: 0 -4.8rem 9.6rem rgba(233, 235, 177, 1);
  }

  .banner-texto p {
    font-size: 3rem;
    font-weight: 800;
  }

  /*--------------------------- S E C C I O N  -  B E N E F I C I O S------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  /*-------- A R T Í C U L O - I M P A C T O  E C O L Ó G I C O-------- */

  .contenedor-beneficios {
    padding: 0 15%;
  }

  .impacto-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 4rem;
    margin: 4rem 0;
  }

  .impacto-info {
    background: url(./Imagenes/img-impacto-info-desktop.png) center no-repeat;
    height: 30rem;
    width: 20rem;
  }

  .impacto-info p {
    font-size: 1.6rem;
    width: 75%;
  }

  /*--------------------------- S E C C I O N  -  N E W S L E T T E R ------------------------ */
  /*-------------------------------------------------------------------------------------------*/

  .seccion-newsletter {
    background: url(./Imagenes/img-newsletter-desktop.png) center no-repeat;
    height: 44rem;
    box-shadow: 0 -2.4rem 4.8rem rgba(233, 235, 177, 1);
    background-position: 50% 10%;
  }

  .contenedor-newsletter {
    display: grid;
    justify-items: center;
    grid-template-columns: 40% 1fr;
    row-gap: 2rem;
    background-color: rgba(102, 80, 27, 0.6);
    padding: 4% 15%;
  }

  .texto-newsletter {
    align-items: flex-start;
  }

  .texto-newsletter h2 {
    font-size: 3rem;
    width: 100%;
  }

  .form-newsletter form {
    width: 100%;
  }

  .btn-newsletter:hover {
    background: #61b5a3;
  }

  /*---------------------------- S E C C I O N  -  N O S O T R O S --------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  /*-------- A R T Í C U L O - A C E R C A  D E -------- */

  .acerca-articulo {
    background: url(./Imagenes/img-nosotros-plantas-desktop.png) bottom
        no-repeat,
      linear-gradient(
        180deg,
        rgba(241, 242, 210, 1) 31%,
        rgba(195, 235, 246, 1) 85%
      );
    padding: 8rem 15%;
  }

  .acerca-texto {
    display: block;
  }

  .img-nosotros {
    float: left;
    padding: 0 4rem 4rem 0;
  }

  #texto-visible p:nth-child(3) {
    opacity: 100%;
  }

  .texto-oculto {
    display: block;
  }

  .acerca-ver:link,
  .acerca-ver:visited {
    display: none;
  }

  /*-------- A R T Í C U L O - M I S I Ó N -------- */

  .mision-articulo {
    padding: 8rem 15%;
  }

  .mision-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mision-texto picture {
    margin-bottom: 2rem;
  }

  .mision-texto {
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  /*------------------------------ S E C C I O N  -  F O O T E R ----------------------------- */
  /*-------------------------------------------------------------------------------------------*/

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 14rem 10% 4rem 10%;
  }

  /*-------- GRID COLUMNAS Y FILAS --------*/

  .footer-texto {
    grid-column: 1 / -1;
  }

  .footer-redes-sociales {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }

  .btn-enviar {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  .footer-pie {
    grid-row: 5 / 6;
    grid-column: 1 / -1;
  }
  /* ------------------------- */

  .footer-texto h2 {
    justify-content: flex-start;
  }

  .footer-texto p {
    font-size: 2.4rem;
  }

  .footer-redes-sociales {
    margin-bottom: 0;
  }

  .seccion-footer form {
    align-items: flex-start;
  }

  .btn-enviar {
    margin-bottom: 18rem;
  }

  .btn-enviar:hover {
    background: #61b5a3;
  }

  .footer-iconos-redes-sociales {
    flex-direction: column;
    gap: 4rem;
  }

  .seccion-footer .img-footer img {
    transform: translateY(10rem);
    object-fit: none;
  }
}
