/*-------------------------E S T I L O S  G E N E R A L E S---------------------------- */
/* ----------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #595959;
  line-height: 1.5;
  background: linear-gradient(
    180deg,
    rgba(240, 241, 208, 1) 2%,
    rgba(255, 255, 248, 1) 7%
  );
}

section {
  margin-bottom: 8rem;
}

p {
  padding-bottom: 1.5rem;
}

/* ------------------M O B I L E  F I R S T :  E S T I L O  C E L U L A R--------------- */
/* ------------------------------------------------------------------------------------- */
/* .contenedor-header {
  max-width: 415px;
  margin: auto;
} */

.contenedor {
  padding: 0 2rem;
  margin: 0 auto;
}

/*-- M E N U--*/

header {
  display: flex;
  /* margin-top: 2rem;
  margin-bottom: 3rem; */
}

nav {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  /* margin: 2rem 0; */
}

.nav-margin {
  margin: 2rem;
}

#hamburguesa li {
  list-style: none;
  text-indent: -100px;
  overflow: hidden;
  /* margin-top: 1.4em; */
  width: 2.5em;
}

#hamburguesa li a {
  background: url("./Imagenes/menu-celular.png") no-repeat center center;
  background-size: cover;
  display: block;
  height: 2.9rem;
  width: 2.5rem;
  margin: auto;
}

#hamburguesa li:last-child a {
  background: url("./Imagenes/menu-cerrar-celular.png") no-repeat center center;
}

#hamburguesa li:last-child {
  display: none;
}

#lista-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 0;
  position: absolute;
  top: 6.5em;
  left: 0;
  background: rgba(150, 109, 12, 0.599);
  transition: height 0.5s ease;
  overflow: hidden;
}

#lista-btn li {
  list-style: none;
  width: 75%;
  display: inline-block;
}

#lista-btn li a {
  text-decoration: none;
  display: block;
  background: #34b196;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.6rem;
  border-radius: 5%;
}

/* #hamburguesa {
  display: flex;
  justify-content: flex-end;
} */

nav:target #lista-btn {
  height: calc(100vh - 6.5em);
}

nav:target #hamburguesa li:first-child {
  display: none;
}

nav:target #hamburguesa li:last-child {
  display: block;
}

/*------------------------ S E C C I O N  -   P O R T A D A---------------------- */

.seccion-portada {
  display: flex;
  align-items: flex-start;
  background: url(./Imagenes/regadera-celular.png) center no-repeat;
  height: 38rem;
  background-position: 0% 0%;
  margin-top: 1.5rem;
}

.contenedor-portada {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portada-titulo {
  font-family: "Mali", cursive;
  color: #34b196;
  font-size: 2.5rem;
  font-weight: 600;
  width: 90%;
  margin-bottom: 1rem;
}

.portada-texto {
  font-size: 1.5rem;
  font-weight: 300;
  width: 60%;
  color: black;
}

.portada-seguir {
  margin: 0 auto;
}

.btn-seguir {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 248, 1);
  background-color: #34b196;
  border-radius: 3%;
  padding: 1rem 2.5rem;
}

.btn-seguir a:hover {
  background-color: #5fb6a3;
}

.btn-seguir-chevron-down {
  width: 2rem;
  height: 2rem;
}

/*-------------------- S E C C I O N  -  A R T Í C U L O  H U E R T A-------------------- */

.seccion-huerta {
  margin-bottom: 0;
}

.huerta-titulo {
  text-align: center;
  margin-bottom: 1rem;
}

.huerta-titulo h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali", cursive;
  color: #34b196;
  font-size: 1.8rem;
}

.huerta-titulo h2:before {
  content: "";
  border-top: 2px solid;
  margin: 0 1rem 0 0;
  flex: 0 1 4rem;
  color: #34b196;
}

.huerta-titulo span {
  font-size: 1.4rem;
}

.huerta-gota-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./Imagenes/huerta-link-celular.png) center no-repeat;
  /* background-position: 20% 0%; */
  height: 5rem;
  width: 4rem;
  opacity: 40%;
  position: absolute;
}

.huerta-gota-link a:link,
.huerta-gota-link a:visited {
  text-decoration: none;
  color: #595959;
  font-size: 1.4rem;
  font-weight: 600;
}

#huerta-1 {
  left: 10%;
}

#huerta-2 {
  left: calc(50% - 20px);
}

#huerta-3 {
  right: 10%;
}

.huerta-articulo {
  margin-top: 8rem;
  display: none;
}

/* --- TARGET ARTICULOS HUERTA --- */
.huerta-gota-link:target {
  opacity: 100%;
}

#huerta-1:target ~ .huerta-articulo:nth-of-type(1) {
  display: block;
}

#huerta-2:target ~ .huerta-articulo:nth-of-type(2) {
  display: block;
}

#huerta-3:target ~ .huerta-articulo:nth-of-type(3) {
  display: block;
}

/* --- TARGET ARTICULOS HUERTA --- */

h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.huerta-articulo p {
  font-size: 1.3rem;
}

.huerta-articulo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-4rem);
  z-index: -999;
  position: relative;
}

/*------------------------- S E C C I O N  -  B A N N E R--------------------------- */

.seccion-banner {
  overflow-x: hidden;
}

.seccion-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(8rem);
  /* position: relative; */
  /* overflow-x: hidden; */
}

.banner-texto {
  background: linear-gradient(
    180deg,
    rgba(212, 180, 43, 1) 2%,
    rgba(150, 108, 12, 1) 75%
  );
  padding: 5rem;
  margin-bottom: 8rem;
  box-shadow: 0 -2.4rem 4.8rem rgba(233, 235, 177, 1);
}

.banner-texto p {
  text-align: center;
  font-family: "Mali", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
}

/*----------------------- S E C C I O N  -  B E N E F I C I O S-------------------- */

.seccion-beneficios h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali", cursive;
  color: #34b196;
  font-size: 1.8rem;
}

.seccion-beneficios h2:before {
  content: "";
  border-top: 2px solid;
  margin: 0 1rem 0 0;
  flex: 0 1 4rem;
  color: #34b196;
}

.seccion-beneficios h3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
}

.seccion-beneficios h3:after {
  content: "";
  border-bottom: 2px solid black;
  padding-top: 0.5rem;
  width: 5rem;
}

.seccion-beneficios span {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

/*-- I M P A C T O  E C O L Ó G I C O-- */

.impacto-articulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.impacto-info {
  background: url(./Imagenes/img-impacto-info-celular.png) center no-repeat;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.impacto-info p {
  display: block;
  margin: 0 auto;
  width: 52%;
  font-size: 1.3rem;
  color: #34b196;
  font-family: "Mali", cursive;
  font-weight: 500;
}

/*-- A L I M E N T O S  S A L U D A B L E S -- */

.alimentos-articulo p {
  font-size: 1.3rem;
}

.alimentos-video {
  max-width: 100%;
  height: auto;
  margin-top: 4rem;
}

.contenedor-video {
  background: url(./Imagenes/img-background-video-celular.png) center no-repeat;
  height: 25rem;
  display: flex;
  justify-content: center;
}

/*-------------------- S E C C I O N  -  N E W S L E T T E R -------------------- */

.seccion-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(./Imagenes/img-newsletter.png) center no-repeat;
  height: 33rem;
  box-shadow: 0 -2.4rem 4.8rem rgba(233, 235, 177, 1);
}

.contenedor-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(102, 80, 27, 0.6);
  padding: 2rem 0;
}

.contenedor-newsletter h2 {
  color: white;
  font-size: 1.8rem;
}

.contenedor-newsletter p {
  display: block;
  width: 75%;
  font-size: 1.3rem;
  color: white;
  padding: 0;
}

.contenedor-newsletter input {
  width: 80%;
  border: none;
  background: white;
  border-radius: 0.2rem;
  padding: 1rem;
}

.contenedor-newsletter input::placeholder {
  color: grey;
  font-size: 1rem;
}

.contenedor-newsletter input:first-of-type {
  margin-bottom: 1.5rem;
}

.contenedor-newsletter a:link,
.contenedor-newsletter a:visited {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba(255, 255, 248, 1);
  background-color: #34b196;
  border-radius: 3%;
  padding: 1rem;
}

/*----------------------- S E C C I O N  -  N O S O T R O S ---------------------- */

.seccion-nosotros {
  margin-bottom: 0;
}

.seccion-nosotros h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali", cursive;
  color: #34b196;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.seccion-nosotros h2:before {
  content: "";
  border-top: 2px solid;
  margin: 0 1rem 0 0;
  flex: 0 1 4rem;
  color: #34b196;
}

.seccion-nosotros h3 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.seccion-nosotros h3:after {
  content: "";
  border-bottom: 2px solid black;
  padding-top: 0.5rem;
  width: 3rem;
}

.seccion-nosotros p {
  font-size: 1.3rem;
}

/*-- A C E R C A  D E -- */

.acerca-articulo {
  background: url(./Imagenes/img-nosotros-plantas-celular.png) bottom no-repeat,
    linear-gradient(
      180deg,
      rgba(241, 242, 210, 1) 31%,
      rgba(195, 235, 246, 1) 85%
    );
  padding: 2rem;
  margin-bottom: 4rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #595959;
  padding-bottom: 3rem;
}

h4 strong {
  font-family: "Mali", cursive;
  font-weight: 900;
  color: #34b196;
}

.acerca-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-- M I S I Ó N -- */

.mision-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#texto-visible p:nth-child(3) {
  opacity: 30%;
}

.texto-oculto {
  display: none;
}

#texto-visible:target .texto-oculto {
  display: block;
}

.acerca-ver:link,
.acerca-ver:visited {
  display: block;
  width: 4rem;
  height: 4rem;
  color: #34b196;
}

#acerca-ver-menos {
  display: none;
}

#texto-visible:target #acerca-ver-mas {
  display: none;
}

#texto-visible:target #acerca-ver-menos {
  display: block;
}

#texto-visible:target p:nth-child(3) {
  opacity: 100%;
}

.mision-texto picture {
  margin-bottom: 2rem;
}

/*----------------------- S E C C I O N  -  F O O T E R ---------------------- */

.seccion-footer {
  overflow-x: hidden;
}

.seccion-footer .img-footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(5rem);
  /* position: relative; */
  /* overflow-x: hidden; */
}

footer {
  background: linear-gradient(
    180deg,
    rgba(208, 169, 10, 1) 47%,
    rgba(150, 92, 21, 1) 97%
  );
  padding: 6rem 3rem 2rem 3rem;
  box-shadow: 0 -2.4rem 4.8rem rgba(233, 235, 177, 1);
}

.footer-texto {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.footer-texto h2 {
  display: flex;
  align-items: center;
  font-family: "Mali", cursive;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.footer-texto h2:before {
  content: "";
  border-top: 2px solid;
  margin: 0 1rem 0 0;
  flex: 0 1 4rem;
  color: white;
}

.footer-texto p {
  color: white;
  font-size: 1.3rem;
}

.seccion-footer h3 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 2rem;
}

.seccion-footer h3:after {
  content: "";
  border-bottom: 1px solid #595959;
  padding-top: 0.5rem;
  width: 26rem;
}

.seccion-footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.seccion-footer input,
textarea {
  width: 90%;
  border: none;
  background: white;
  border-radius: 0.2rem;
  padding: 0.7rem;
}

.seccion-footer input::placeholder {
  color: grey;
  font-size: 1rem;
}

.seccion-footer textarea::placeholder {
  color: grey;
  font-size: 1rem;
}

.btn-enviar:link,
.btn-enviar:visited {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba(255, 255, 248, 1);
  background-color: #34b196;
  border-radius: 3%;
  padding: 1rem;
}

.footer-redes-sociales {
  display: flex;
  justify-content: space-evenly;
}

.footer-pie {
  margin-top: 8rem;
}

.footer-pie p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 248, 1);
  padding: 0;
}

.footer-pie p::before {
  content: "";
  border-top: 1px solid rgba(255, 255, 248, 1);
  padding-top: 0.5rem;
  width: 26rem;
}

/* ----------------------- E S T I L O  C E L U L A R  G R A N D E ------------------------- */
/* ----------------------------------------------------------------------------------------- */

@media screen and (min-width: 414px) {
}
